*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: silver;
    font-family: sans-serif;
}
.sale{
    background-color: #fff;
    width: 600px;
    position: relative;
}
.sale img{
    width: 100%;
}
.sale .discount{
    position: absolute;
    right: 0;
    top: 8px;
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
}
.sale .add-to-cart{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(177, 177, 177, 0.4);
    height: 100px;
    text-align: center;
}
.sale .add-to-cart button{
    padding: 8px 20px;
    margin-top: 30px;
    border: 1px solid #000;
}