*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: silver;
    font-family: sans-serif;
}
.example{
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}
.example img{
    width: 25%;
    height: auto;
    display: block;
}