*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: silver;
    font-family: sans-serif;
}

.uber, .amazon, .github, .bootstrap, .linkedin{
    display: inline-block;
    padding: 20px;
    background-color: #fff;
}
.uber button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
}

.amazon button{
    background-color: rgb(255, 216, 20);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 24px;
    transition: opacity 0.2s;
}
.amazon button:hover{
    opacity: 0.7;
}
.amazon button:active{
    opacity: 0.3;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.github button{
    background-color: rgb(46, 164, 79);
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    transition: box-shadow 1s;
}
.github button:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.bootstrap .get{
    background-color: rgb(121, 82, 179);
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
}
.bootstrap .download{
    border: 1px solid rgb(108, 117, 125);
    padding: 10px 20px;
    color: rgb(108, 117, 125);
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
}
.linkedin .apply{
    background-color: rgb(10, 102, 194);
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
}
.linkedin .save{
    background-color: #fff;
    border: 1px solid rgb(10, 102, 194);
    padding: 10px 20px;
    color: rgb(10, 102, 194);
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
}
.amazon-cart{
    display: block;
    width: 400px;
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
}
.amazon-cart *{
    margin-bottom: 8px;
}
.amazon-cart a{
    color: rgb(0, 113, 133);
}
.amazon-cart .price{
    color: rgb(0, 118, 0);
}
.amazon-cart .add{
    background-color: rgb(255, 216, 20);
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 24px;
}
.amazon-cart .buy{
    background-color: rgb(255, 164, 28);
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 24px;
}