*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: silver;
    font-family: sans-serif;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
header{
    background-color: rgb(43, 43, 61);
    color: #fff;
    min-height: 40px;
    padding-top: 4px;
}
header .acme-logo{
    float: left;
}
header nav{
    float: right;
}
header nav a{
    text-decoration: none;
    color: #fff;
    margin-right:4px ;
}
header li{
    list-style-type: none;
    display: inline-block;
}