*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
/* global items */
.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
header{
    background-color: rgb(43, 43, 61);
    color: #fff;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: #e8491d 3px solid;
}
header .acme-logo{
    float: left;
}

header nav{
    float: right;
}
header nav a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-right:4px ;
}
header li{
    float: left;
    list-style-type: none;
    display: inline;
    padding: 0 10px;
}
